.App {
  text-align: center;
}
.app-layout{
  background-color: white;
  height: 100vh;
  margin-top: 0 !important;
}
.left-layout{
  background-color: #362233;
  width:75px !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding-right: 0rem !important;
}
.center-layout {
  background-color: #52364E;
  width: 250px !important;
  text-align: center;
}

.right-layout {
  background-color: #ffffff;
  width: auto !important;
}
.ui.popup {
  padding:0 !important;
}
.bottom-container{
  position: fixed;
  bottom: 15px;
}
.close-btn{
  position: fixed;
  top: 0;
  right: 0;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}