<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../node_modules/semantic-ui-css/semantic.min.css">
    <link rel="stylesheet" href="./view.css">
  </head>
  <body>
    <div class="container">
      <img id="avatar" src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1585627010&di=c518f2fdae5bdffb5c141707099b6d87&src=http://b-ssl.duitang.com/uploads/item/201901/14/20190114173306_c2P5w.jpeg" class="ui fluid image" />
    </div>
    <script>
      require('./view.js') 
    </script>
  </body>
</html>